* {
	box-sizing: border-box;
	margin: 5px;
	padding: 5px;
}
li {
	list-style: none;
	margin: 10px;
}
input, input:focus {
	outline:0;
	cursor: pointer;
}
body {
	background: #c2d6d6;
}
.container {
	max-width: 400px;
	margin: 0 auto;
}
#temperature {
	font-size: 4em
}
.icon-title, #location, #title, .weather-content {
	/*margin-left: 30px;*/
}
#temp-title {
	margin-left: 30px
}
.weather-stats {
	font-family: 'Hind', sans-serif;
}
.weather-stat, #humidity, #temperature  {
	display: inline;
}
.degree-toggle {
	float: right;
	margin-top: -100px;
	margin-right: -100px;
	text-align: center;
}
.btn {
	border: 1px;
	margin: 0px;
	background: #0099cc;
	color: #fff;
}
.ws-btn {
	background: none;
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	padding: 0;
}
#kph, #mm, #mb, #wind-dir, #wind, #feels-like, #humidity, #precipitation, #pressure, #sunrise, #sunset {
	font-family: 'Lato', sans-serif;
}